<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sugo.smart_city.mapper.TakeoutGoodsSkuMapper">

    <resultMap id="BaseResultMap" type="com.sugo.smart_city.bean.model.TakeoutGoodsSku">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="goodsId" column="goods_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="mode" column="mode" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BOOLEAN"/>
    </resultMap>


    <resultMap id="GroupSkuMap" type="com.sugo.smart_city.bean.dto.TakeoutGoodsSkuDto" >
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <collection property="children" javaType="java.util.List" ofType="com.sugo.smart_city.bean.model.TakeoutGoodsSku" column="{goodsId=goods_id, type=type}"
         select="findByType"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goods_id,name,type,price,mode,is_deleted
    </sql>

    <select id="findByType" resultMap="BaseResultMap" >
        select <include refid="Base_Column_List" />
        from takeout_goods_sku where type = #{type} and goods_id = #{goodsId}
    </select>

    <select id="findByGoodsId" resultMap="GroupSkuMap">
        select distinct goods_id, type
        from takeout_goods_sku where goods_id = #{goodsId}
    </select>

</mapper>
