<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sugo.smart_city.mapper.TakeoutBasketMapper">

    <resultMap id="BaseResultMap" type="com.sugo.smart_city.bean.model.TakeoutBasket">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="sellerId" column="seller_id" jdbcType="INTEGER"/>
            <result property="goodsId" column="goods_id" jdbcType="INTEGER"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="skuIdGroup" column="sku_id_group" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="UnionGoodsMap" type="com.sugo.smart_city.bean.dto.TakeoutBasketDto" extends="BaseResultMap">
        <association property="goods" javaType="com.sugo.smart_city.bean.dto.TakeoutGoodsBasketDto"
           column="goods_id" jdbcType="INTEGER" select="com.sugo.smart_city.mapper.TakeoutGoodsMapper.findById"
        />
    </resultMap>

    <sql id="Base_Column_List">
        id,seller_id,goods_id,
        quantity,user_id,sku_id_group
    </sql>

    <select id="selectBasketListByUser" resultMap="UnionGoodsMap">
        select id, quantity, goods_id, sku_id_group
        from takeout_basket
        where user_id = #{userId}
    </select>
    <select id="list" resultMap="UnionGoodsMap">
        select id, quantity, goods_id, sku_id_group
        from takeout_basket
        where user_id = #{userId} and seller_id = #{sellerId} and exists(select count(*) from takeout_goods where status = #{status})
    </select>
</mapper>
