<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sugo.smart_city.mapper.TakeoutOrderMapper">

    <resultMap id="BaseResultMap" type="com.sugo.smart_city.bean.model.TakeoutOrder">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="sellerId" column="seller_id" jdbcType="INTEGER"/>
            <result property="fullName" column="full_name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="county" column="county" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="arriveTime" column="arrive_time" jdbcType="TIMESTAMP"/>
            <result property="total" column="total" jdbcType="DECIMAL"/>
            <result property="deliveryFee" column="delivery_fee" jdbcType="DECIMAL"/>
            <result property="packingFee" column="packing_fee" jdbcType="DECIMAL"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BOOLEAN"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="riderId" column="rider_id" jdbcType="INTEGER"/>
            <result property="skuNameGroup" column="sku_name_group" jdbcType="VARCHAR"/>
            <result property="tablewareNum" column="tableware_num" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,seller_id,
        full_name,phone,province,
        city,county,address,
        code,arrive_time,total,
        delivery_fee,packing_fee,is_deleted,
        gmt_create,status,remark,
        rider_id,sku_name_group,tableware_num
    </sql>
    <select id="getAvgCostBySeller" resultType="java.lang.Double">
        select ifnull(avg(total), 0) from takeout_order where seller_id = #{sellerId}
    </select>
    <select id="getAvgCostBySellerList" resultType="java.lang.Double">
        select (select ifnull(avg(total), 0) from takeout_order where takeout_order.seller_id = takeout_seller.id) from takeout_seller where takeout_seller.id in
        (
        <foreach collection="sellerIds" separator="," close="," item="item">
            #{item}
        </foreach>
        0
        )
    </select>
    <select id="getAvgMonthOrderNumBySeller" resultType="java.lang.Integer">
        select count(*) from takeout_order where seller_id = #{sellerId} and date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(`gmt_create`)
    </select>
    <select id="getAvgMonthOrderNumBySellerList" resultType="java.lang.Integer">
        select (select count(*) from takeout_order where date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(`gmt_create`) and takeout_order.seller_id = takeout_seller.id)
        from takeout_seller
        where takeout_seller.id in (
        <foreach collection="sellerIds" separator="," close="," item="item">
            #{item}
        </foreach>
        0
        )
    </select>
    <select id="getTotalPriceByUserAndSeller" resultType="java.lang.Double">
        select ifnull(sum(total), 0) from takeout_order where user_id = #{userId} and seller_id = #{sellerId}
    </select>
</mapper>
