<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sugo.takeout.mapper.TakeoutOrderItemMapper">

    <resultMap id="BaseResultMap" type="com.sugo.takeout.bean.model.TakeoutOrderItem">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orderCode" column="order_code" jdbcType="VARCHAR"/>
            <result property="goodsId" column="goods_id" jdbcType="INTEGER"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="total" column="total" jdbcType="DECIMAL"/>
            <result property="skuNameGroup" column="sku_name_group" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_code,goods_id,
        quantity,total,sku_name_group
    </sql>

    <select id="findByCode" resultType="com.sugo.takeout.bean.vo.TakeoutOrderGoodsItemVo">
        select name, cover, quantity, sku_name_group, total from takeout_order_item
        left join takeout_goods tg on takeout_order_item.goods_id = tg.id
        where order_code = #{code}
    </select>
</mapper>
