<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sugo.takeout.mapper.TakeoutRewardMapper">

    <resultMap id="BaseResultMap" type="com.sugo.takeout.bean.model.TakeoutReward">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="riderId" column="rider_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,remark,price,
        user_id,rider_id
    </sql>
</mapper>
