<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sugo.takeout.mapper.TakeoutRiderMapper">

    <resultMap id="BaseResultMap" type="com.sugo.takeout.bean.model.TakeoutRider">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="idcard" column="idcard" jdbcType="CHAR"/>
            <result property="realName" column="real_name" jdbcType="VARCHAR"/>
            <result property="idcardPicPositive" column="idcard_pic_positive" jdbcType="VARCHAR"/>
            <result property="idcardPicInpositive" column="idcard_pic_inpositive" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,city,province,
        phone,status,idcard,
        real_name,idcard_pic_positive,idcard_pic_inpositive
    </sql>

    <select id="findByOrderCode" resultType="com.sugo.takeout.bean.vo.SellerOrderDeliveryVo">
        select rider_id, real_name riderName, phone riderPhone, takeout_delivery.status, gmt_create currentTime from takeout_delivery
        left join takeout_rider on takeout_delivery.rider_id = takeout_rider.id
        where order_code = #{code} order by status
    </select>
</mapper>
