<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sugo.takeout.mapper.TakeoutRiderEvaluateMapper">

    <resultMap id="BaseResultMap" type="com.sugo.takeout.bean.model.TakeoutRiderEvaluate">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orderItemId" column="order_item_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="riderId" column="rider_id" jdbcType="INTEGER"/>
            <result property="score" column="score" jdbcType="DECIMAL"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_item_id,user_id,
        rider_id,score,content,
        gmt_create
    </sql>
</mapper>
